<form action="/category/add" method="POST" class="w-75 mx-auto mt-5">
  <h2>Add Category</h2>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Slug</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      name="slug"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
