<div class="row mt-5">
  <div class="col-4">
    <img src="<%= data.product.image %>" class="card-img-top" alt="..." />
  </div>
  <div class="col-8">
    <h1><%= data.product.title %></h1>
    <h2><%= data.product.price %></h2>
    <p><%= data.product.description %></p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
